.jumbo {
  border-radius: 0%;
}

.head h1 {
  font-size: 60px;
}

.head p {
  font-size: 26px;
}

.logo {
  max-width: 160px;
  float: left;
}

.main h2 {
  font-size: 40px;
}

.main p {
  font-size: 20px;
}

.size-toppings h3 {
  font-size: 32px;
}

.size-toppings label {
  font-size: 20px;
}

.output {
  border: solid black 2px;
  padding: 1rem;
  background-color: lightgray;
}